<p class="green"><%= @collection.years_of_experience %> years experience</p>
<p class="ye"><%= number_to_currency(@collection.hourly_rate, precision: 0) %>/hour</p>
<p><%= @collection.description %></p>