<div id="map-canvas" style="width: 600px; height: 600px">
  <div id="map"></div>
</div>

<script type="text/javascript">
var initialLocation;
var info = <%= raw @hash.to_json %>
var current = <%= raw @home.to_json %>
var map;
function initMap() {
	console.log(current)
  	map = new google.maps.Map(document.getElementById('map'), {
    zoom: 12
  });
  if(navigator.geolocation) {
    browserSupportFlag = true;
    navigator.geolocation.getCurrentPosition(function(position) {
      initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
      map.setCenter(initialLocation);
    }, function() {
      handleNoGeolocation(browserSupportFlag);
    });
  }
  // Browser doesn't support Geolocation
  else {
    browserSupportFlag = false;
    handleNoGeolocation(browserSupportFlag);
  }

  function handleNoGeolocation(errorFlag) {
    if (errorFlag == true) {
      alert("Geolocation service failed.");
      initialLocation = newyork;
    } else {
      alert("Your browser doesn't support geolocation. We've placed you in Siberia.");
      initialLocation = siberia;
    }
    map.setCenter(initialLocation);
  }  

  setMarkers();
}


function setMarkers() {
  var image = {
    url: 'p.png',
    size: new google.maps.Size(40, 60),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(0, 32)
  };
  var shape = {
    coords: [1, 1, 1, 20, 18, 20, 18, 1],
    type: 'poly'
  };


  for (var i = 0; i < info.length; i++) {
    var teacher = info[i];
    var id = teacher.id.toString();
    var marker = new google.maps.Marker({
      position: {lat: teacher.lat, lng: teacher.lng},
      map: map,
      customInfo: id
    });
    attachSecretMessage(marker, marker['customInfo']);
  }
  var image = '/home.png';
  var markerHome = new google.maps.Marker({
      position: {lat: current.lat, lng: current.lng},
      map: map,
      icon: image, 
      customInfo: id
    });
    
  function attachSecretMessage(marker, secretMessage) {
	  var infowindow = new google.maps.InfoWindow({
	    content: secretMessage
	  });

	  marker.addListener('click', function() {
	  	console.log(infowindow.content)
	    $('.profile').hide();
  		$('#profile'+infowindow.content).show();
	  });
	}
}




</script>


<script async defer
      src="https://maps.googleapis.com/maps/api/js?&key=&callback=initMap">
</script>


