<br>
<br>
<br>

<div id="map-canvas" style="width: 600px; height: 600px">
  <div id="map"></div>
</div>
<br>
<br>
<br>

<%= current_user.id %>
<script type="text/javascript">
var myMarkers = [];
var initialLocation;
var info = <%= raw @hash.to_json %>
var current = <%= raw @home.to_json %>
var map;
function initMap() {
  	map = new google.maps.Map(document.getElementById('map'), {
    zoom: 12
  });
  if(navigator.geolocation) {
    browserSupportFlag = true;
    navigator.geolocation.getCurrentPosition(function(position) {
      initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
      map.setCenter(initialLocation);
    }, function() {
      handleNoGeolocation(browserSupportFlag);
    });
  }
  // Browser doesn't support Geolocation
  else {
    browserSupportFlag = false;
    handleNoGeolocation(browserSupportFlag);
  }

  function handleNoGeolocation(errorFlag) {
    if (errorFlag == true) {
      alert("Geolocation service failed.");
      initialLocation = newyork;
    } else {
      alert("Your browser doesn't support geolocation. We've placed you in Siberia.");
      initialLocation = siberia;
    }
    map.setCenter(initialLocation);
  }  

  //setMarkers();
}

function placeDBMarker(pinData, avatar) {
  var infowindow;
   var id = pinData.id.toString();
    $('#profile'+id).show();


  function attachSecretMessage(marker, secretMessage) {
    infowindow = new google.maps.InfoWindow({
    content: secretMessage
    });
  }
  var id = pinData.id.toString();

  var pinLatlng = new google.maps.LatLng(pinData.latitude, pinData.longitude);
  var marker = new google.maps.Marker({
    position: pinLatlng, 
    customInfo: id, 
    icon: avatar,
    map: map});

  attachSecretMessage(marker, marker['customInfo']);
  myMarkers.push(marker);

  google.maps.event.addListener(marker, 'click', function() {
    $('.profile').hide();
    $('#profile'+infowindow.content).show();
    console.log(infowindow.content)
  });


}



$(function() {

  var getAjax = $.get('/users.json', "json");
  getAjax.done(function(response)
    {
      // console.log(response)
      for (var i = 0; i < response.length; i ++){
       placeDBMarker(response[i]);
      }
  });
  var getUser = $.get('/users/current.json', "json");
  getUser.done(function(response){  
    var image = '/home.png';
    placeDBMarker(response, image);
  });

  $(document).on("click", "#home", function(event)
  {
    event.preventDefault();
    
    var getAjax = $.get('/users.json', "json");
      getAjax.done(function(response)
      {
        // console.log(response)
        for (var i = 0; i < response.length; i ++){
         placeDBMarker(response[i]);
        }
    });
    var getUser = $.get('/users/current.json', "json");
    getUser.done(function(response){  
      var image = '/home.png';
      placeDBMarker(response, image);
    });
  });

  $(document).on("click", ".cat", function(event)
  {
    event.preventDefault();
    deleteMarkers();
    // console.log($(this).attr('id'))
    var id = $(this).attr('id');
    var url = '/categories/'+ id +'.json'
    // console.log(url)
    var getUsersByCategory = $.get(url, "json");
    getUsersByCategory.done(function(response){  
      var image = '/home.png';
      console.log(response)
      if(response.length > 0) {
        for (var i = 0; i < response.length; i ++){
          placeDBMarker(response[i]);
        }
      } else {
      $('.profile').hide();
      }
    });
    var getUser = $.get('/users/current.json', "json");
    getUser.done(function(response){  
      var image = '/home.png';
      placeDBMarker(response, image);
    });
  });
   $(document).on("submit", "#search-form", function(event){
    event.preventDefault();
    deleteMarkers();
    // console.log(this);
    var getUser = $.get('/users/current.json', "json");
    getUser.done(function(response){  
      var image = '/home.png';
      placeDBMarker(response, image);
    });

    var data = $(this).serialize();
    // console.log(data)
    var request = $.ajax({
      url: '/search',
      method: "post",
      data: data
    }).done(function(response){  
      // console.log(response)
      for (var i = 0; i < response.length; i ++){
         placeDBMarker(response[i]);
      }
    });
  });
   $(document).on("click", "#popularity", function(event) {
    event.preventDefault();
    var divs =  $('.profile');
    $('.profile').remove();
    divs.sort(function (b,a) {
      var aCount = parseInt($(a).attr('data-reviews'));
      var bCount = parseInt($(b).attr('data-reviews'));
      console.log(aCount)
      if (aCount > bCount) {
        return 1;
      }
      if (aCount < bCount)  {
        return -1;
      };
      return 0;
    });
   $('#mini-profiles').append(divs);

  });
    var getUser = $.get('/users/current.json', "json");
    getUser.done(function(response){  
      var image = '/home.png';
      placeDBMarker(response, image);
    });

    $(document).on("click", "#distance", function(event) {
    event.preventDefault();
    var divs =  $('.profile');
    $('.profile').remove();
    divs.sort(function (a,b) {
      aCount = parseFloat($(a).attr('data-distance')).toFixed(1);
      bCount = parseFloat($(b).attr('data-distance')).toFixed(1);
      console.log(aCount)
      if (aCount > bCount) {
        return 1;
      }
      if (aCount < bCount)  {
        return -1;
      };
      return 0;
    });
   $('#mini-profiles').append(divs);
 });
  

  function setMapOnAll(map) {
    for (var i = 0; i < myMarkers.length; i++) {
      myMarkers[i].setMap(map);
    }
  }
  function clearMarkers() {
    setMapOnAll(null);
  }
  function deleteMarkers() {
    clearMarkers();
    myMarkers = [];
  }


});
  






</script>


<script async defer
      src="https://maps.googleapis.com/maps/api/js?&key=&callback=initMap">
</script>


