<div class="row">
	<div class="col-md-6 main">
		<% if @users != nil && @users %>
			<%= render 'users/map' %>
		<% else %>
			<%= render 'users/error' %>
	<% end %>
	</div>
	<div class="col-md-6 main">
		<%= render 'users/categories' %>
		<%= render 'users/mini_profiles' %>
	</div>

</div>








