/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

*= require masonry/transitions
*= require rails_bootstrap_forms
*= require font-awesome
*= require_tree .
*= require_self
*/

.yellow a {
    color: white !Important;
}
a {
  text-decoration: none  !important;
}
li.yellow{
	color: white !important ;
}

#profile-pic-box {
	max-width: 300px;
	max-height: 300px;
}
#profile-pic-box img {
	max-width: 300px;
	max-height: 300px;
}

@import "bootstrap-sprockets";
@import "bootstrap";

 html, body { height: 100%; margin: 0; padding: 0;
 }
 #map { height: 100%;
 }

.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}

#error {
	background-color: #E9E5DC;
	border: solid black 1px;
}

#profile {
	background-color: #E9E5DC;
	border: solid black 1px;
}

.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	clear:both;
}

.mini {
	display: inline-block;
    width: 50%;
    margin-top: 15%;
}

.m-mini{
	marign:4em;
}


#brain {
	width: 5em;

}

.border{
	background-color: white;
	border: grey solid 0.1em;
	border-radius: 4px;
	padding: 1.9em;
    margin: 3em;
}

.b-mar{margin: 26px;
}

.yellow{
	margin: 1em;
	background-color: #1766b5 !important;
	border-radius: 4px;
	color: #fff !important;
	position: relative;
    display: block;
   	text-decoration: none;
   	padding: 1em;
   	opacity: 0.7;
}

.yellow:hover {
	background-color: #102e55 !important;
	border-radius: 4px;
	color: #grey !important;
	text-decoration: none;
}

.container {
	text-align: center;
}

.cat {
    background-color: #1766b5;
    color: #fff !important;
    position: relative;
    display: inline;
    text-decoration: none;
    padding: 2.5px;
    font-size:24px;
    margin:1px;
    
}

.cat:hover{
	 background-color: grey;
}
.categories{
	position:fixed;
	margin-top: -40px;
	background: rgba(153, 153, 153, 0.4);
    padding: 43px;
    top: 0;
    right: 0;
    width:750px;
}
.medium{
	width: 15em;
}

.search{
	display: inline-flex;
    margin: 2em;
}

.boxes{
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
  background-color: #F7F7F7;
  overflow: overlay;
 }

.b-width{
	width: 40em;
}

.form{
	width: 15em;
}

.fancy{
	 color: #1766b5;
    font-size: 2.5em;
}

.white-pink {
    color: #555;
    width: 70%;
    height: 149px !important;
    padding: 3px 0px 3px 5px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    height: 25px;
    line-height:15px;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
    box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
}

.avatar{
	width:60px;
	height: 60px;
}

.skill-show{
	display: table-cell;
}
li{
	 list-style-type: none;
}

.aq{
	color:aquamarine;
}

.skillo{
	color: pink;
	font-size: 50px;
}
.subskillo{
	font-size: 20px;
}

.grey{
	color:grey;
}


 html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #fff;
      }
      #map {
        height: 100%;
      }
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.dis{
	display:table;
}
.green{
	color:green;
	font-size:1em;
}

.red{
	color:red;
	font-size:1em;
}


.gr{
	color: #5F6764;
    font-size: x-medium;
}

input#city{
	width: 10em;
}
input#search{
	width: 10em;
}

input.btn.btn-default{
	z-index: 1;
}

.mini-m{
	margin:6px;
}

.center{
	margin-left: 15em;
}
        


