#align_right {
  padding: 100px;
  box-sizing: border-box;
  width: 50%;
  float: left;

}

#align_left {
   padding: 100px;
    box-sizing: border-box;
    width: 50%;
    float: left;

}

     .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: transparent;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }