<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>
  </head>
  <body>


<div id="map-canvas" style="width: 400px; height: 400px">
    <div id="map"></div>
    </div>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8x586LieSovKYlT44UbF2u90hO6Q_KqI&callback=initMap">
    </script>
  </body>
</html>